.cart-root {
  height: calc(100vh - 180px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  /* background-color: blue; */
  z-index: 1; /* Sit on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.cart-page {
  display: flex;
  height: calc(100vh - 180px);
  width: 100%;
  /* background-color: green; */
  justify-content: space-between;
}

.product-cart-container {
    display: flex;
    background-color: #DEDEDE;
    height: 350px;
    width: 40%;
    margin-top: 40px;
    margin-left: 30px;
    z-index: 10;
  }

  .left-section {
    flex: 2;
    background-color: blue;
    height: 240px;
    width: 240px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }

  /* .product-image-container {

  } */

  .product-image {
    height: 240px;
    width: 240px;
    display: block;
    /* width: 40%; */
  }

  .right-section {
    flex: 8;
    /* background-color: yellow; */
    height: 240px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
  }

  .product-title-price {
    margin-top: -20px;
    flex: 9;
  }

  .bottom-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
  }

  .sold-and-shipped {
    text-align: left;
  }
  
  .plus-minus-btn {
    height: 22px;
    width: 22px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 11px;
    background-color:#a3a3a3;
    text-align: center;

    display: inline-flex;
    align-items: center;
    justify-content: space-around;
 
  }

  .number-hold {
    height: 25px;
    width: 35px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 30px;
    /* border-color: white; */
    text-align: center;
    justify-content: center;
    align-items: center;
    appearance: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
  
  .cart-container {
    display: flex;
    flex-direction: column;
    background-color: #DEDEDE;
    /* background-color: black; */
    width: 30%;
    height: 100%;
  }
  .cart-container-top {
    display:flex;
    flex-direction: column;
    height:300px;
    padding-left: 40px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
  }
  .cart-container-top-upper {
    display:flex;
    flex-direction:row;
    flex: 1;
    /* background-color: #fffb00; */
    align-content: center;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
  }

  .acquisition-type {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .cart-container-top-upper-upper {
    display:flex;
    flex-direction:column;
    flex: 1;
    padding-top: 20px;
    /* background-color: #fffb00; */
    align-content: flex-start;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    margin-left: 20px;
  }

  .cart-container-top-upper-lower {
    display:flex;
    flex-direction:column;
    flex: 1;
    padding-top: 2px;
    /* background-color: #fffb00; */
    align-content: flex-start;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    margin-left: 20px;
  }

  .cart-container-top-lower {
    display:flex;
    flex-direction:row;
    flex: 1;
    /* background-color: #fffb00; */
    /* align-content: center; */
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;

  }

  input [type=checkbox] {
    border-radius: 5px;
    height: 10px;
    width: 10px;
    color: black;
  }

  .cart-container-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .price-list {
    padding-right: 40px;
  }

  ul {
    list-style: none;
    
  }

  li {
    margin: 25px 0;
    font-size:x-large;
  }

  
  .cart-price {
    display: flex;
    flex: space-between;
    flex-direction: column;
  }  

  .club-text-container {
    background-color: #64dc83;
    width: 100%;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    text-align: center;
    align-self: flex-start;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .tsc {
    display: flex;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .green-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
  }

  .promoText {
      text-align: center;
      height:30px;
      width: 300px;
      color:rgb(0, 0, 0);
      margin-left: 10%;
      background-color: #ffffff;
      font-family: "Times New Roman", Times, serif;
      font-size: 17px;
      border-radius: 30px;
      border-color: white;
  }

  .applycode {
    margin-left: 12%;
  }

  .promoBar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: yellow; */
  }
  
  .applyPromo {
    text-align: center;
    height:30px;
    width: 100px;
    margin-left: 10%;
    color:rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    border-radius: 30px;
    border-color: white;
  }

.promoBar {
    display: flex;
    /* background-color: pink; */
}

.proceed-checkout {
  text-align: center;
  margin-left: 20%;
  height: 40px;
  width: 350px;
  color:white;
  background-color: #b30404;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  border-radius: 30px;
  border-color: white;
}

