ul {
    list-style: none;
    margin-left: 50px;
    padding-left: 0;
  }

  li {
    flex: 1;
    display: flex;
    margin: 25px 0;
    font-size:x-large;
    padding-left: 0;
    margin-left: 0;
    padding-left: 0;


  }

  table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.11);
    text-align: center;
    border-collapse: collapse;
    padding: 0.5vh 0.5vw;
    font-family:Arial, Helvetica, sans-serif;
  }

  table {
    /* margin-bottom:15px; */
    background-color: white;
  }

  .help-page {
    display:flex;
    /* width:100%; */
    height: calc(100vh - 250px);
    width: 100vw;
    flex-direction: row;
    /* align-items: center; */
    /* align-self: center; */
    /* align-content: center; */
    /* justify-content:center; */
    /* align-items: flex-end; */
    /* background-color: green; */
    background-color: #dedede;
  }

  .help-list-left {
    display:flex;
    flex: 2;
    /* height: auto; */
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
  }

  .measurement-photos-middle {
    display:flex;
    flex: 5;
    height: 100%;
    /* margin-left: 50px; */
    flex-direction: column;
    /* margin-right:50px;
    margin-left: 50px; */
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content:center;
  }

  .dummy-div {
    display:flex;
    flex: 1;
    /* background-color: white; */
    height:auto;
  }

  .table-headers {
    margin-top: 0;
    background-color: #dedede;
    text-align: center;
    align-self: center;
  }

  .table-spacer {
    height:40px;
  }

  .promo-link-bar-right {
    display:flex;
    flex: 2;
    height:auto;
    align-items:flex-start;
    flex-direction: column;
    background-color:white;
    justify-content: space-evenly;
    border-color: rgba(0, 0, 0, 0.11);
  }

  .promo-link {
    align-self:center;
    width:75%;
    margin-bottom: 100px;
  }

  .payment-title {
    align-self:center;
    width:75%;
  }

  .zfm-ads {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    width:75%;
    align-self: center;
    /* margin-top: 20px; */
    
  }

  .bottom-info-container {
    display:flex;
    flex:row;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede;
    width: 30vw;
    padding-left: 30vw;
    padding-right: 20vw;

  }

  .phone-number-bottom {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
  }

  .please {
    margin: 35px 0;
    font-size: 1em;
    padding-left: 0;
    margin-left: 35px;

  }

  .info-bottom {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
    justify-self: flex-end;
  }

  .test2 {
    font-size: 1em;

  }
  
.wrapper {
  align-items: center;
  align-self: center;
}
