ul {
    list-style: none;
    margin:0;
  }

  li {
    margin: 35px 0;
    font-size:x-large;
  }

  table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.11);
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
  }

  .blank {
    style:none;
    border:none;
  }

  table {
    /* margin-bottom:15px; */
    background-color: white;
  }

  .help-page {
    display:flex;
    /* width:100%; */
    height:calc(100% - 180px);
    flex-direction: row;
    /* align-items: center; */
    /* align-self: center; */
    /* align-content: center; */
    /* justify-content:center; */
    /* align-items: flex-end; */
    /* background-color: green; */
    background-color: #dedede;
  }

  .help-list-left {
    display:flex;
    flex: 2;
    height: auto;
    /* background-color: black; */
  }

  .measurement-photos-middle {
    display:flex;
    flex: 2;
    flex-direction: column;
    margin-right:50px;
    margin-left: 50px;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content:center;
    /* background-color: yellow; */
  }

  .table-headers {
    margin-top: 0;
    background-color: #dedede;
  }

  .table-spacer {
    height:40px;
  }
  

  .dummy-div {
    display:flex;
    flex: 2;
    height:auto;
  }

  .promo-link-bar-right {
    display:flex;
    flex: 3;
    height:auto;
    align-items:flex-start;
    flex-direction: column;
    background-color:white;
    border-color: rgba(0, 0, 0, 0.11);
  }

  .promo-link {
    align-self:center;
    width:75%;
    margin-bottom: 100px;
  }

  .payment-title {
    align-self:center;
    width:75%;
  }

  .zfm-ads {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    width:75%;
    align-self: center;
    /* margin-top: 20px; */
    
  }

  .bottom-info-container {
    display:flex;
    flex:row;
    justify-content: space-evenly;
    align-items: flex-end;
    /* background-color: blue; */
  }
