.product-page {
    height: calc(100vh - 180px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-product {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.jacket-image-container {
    background-color: #dedede;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 100px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

.jacket-description-container {
    background-color: #dedede;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 100px;
    margin-top: 20px;
    padding-bottom: 10px;
}

#product-button {
    align-items: center;
    align-self: center; 
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    border-color: white;
    border-style: inset;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.leftside-top-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#jacket-image {
    height: 220px;
    width: 200px;
}

#colour-box-container {
    display: flex;
    flex-direction: row;
    align-self: right;
}

.box-with-colour {
    width:15px;
    height:15px;
    border-color: black;
}

#colour-box-beige {
    background-color: #f5f5dc;
}

#colour-box-green {
    background-color: green;
}

#colour-box-black {
    background-color: black;
}

/* .leftside-bottom-container {

} */

.review-box {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    /* background-color: pink; */
    margin-top: -1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.stars-container {
    display:flex;
    flex-direction: row;
    margin-left: 150px;
}

.full-stars {
    color: yellow;
}

.half-stars {
    color: yellow;
}

.empty-stars {
    color: yellow;
}

.rightside-container {
    /* padding-right: 200px; */
    margin-left:0%;
    background-color: #dedede;
}

#cart-jacket {
    height: 220px;
    width: 200px;
}
