.product-page {
    height: calc(100vh - 180px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-product {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.jacket-image-container {
    background-color: #dedede;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
    padding-top: 2vh;
}

.jacket-description-container {
    background-color: #dedede;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    margin-left: 8vw;
    margin-top: 3vh;
    /* padding-bottom: 10px; */
}

.size-selector {
    margin-left:6.5vw
}

#price-button-container {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

#product-button {
    align-items: center;
    align-self: right; 
    /* padding: 5px; */
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 30px;
    border-color: white;
    /* border-style: inset; */
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 17px;
    height:fit-content;
    margin-bottom: 0;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    margin-top: 2.5vh;
    margin-left: 0.82vw;
}

.leftside-top-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#colour-box-container {
    display: flex;
    flex-direction: row;
    margin-left: 12vw;

}

.box-with-colour {
    display:flex;
    flex-direction: row;
    width:15px;
    height:15px;
    border-color: black;
    margin-right: 20px;
}

#colour-box-beige {
    background-color: #f5f5dc;
}

#colour-box-green {
    background-color: green;
}

#colour-box-black {
    background-color: black;
}

.review-box {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    /* background-color: pink; */
    margin-top: -1px;
    padding-left: 1vw;
    padding-right: 20.8vw;
    margin-left: 1.8vw;
    margin-bottom: 1vh;
}

.review-user {
    margin-bottom: 0;
    margin-top: 13px;
}

.rbox-text {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.review-box-username-container {
    display: flex;
    flex-direction: row;
}

.stars-container {
    display:flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-bottom: 10vh;
    padding: 0px;
    margin-top: 0px;
}

#review-text {
    padding:none;
    margin:none;
}

.full-stars {
    color: rgb(223, 200, 0);
    margin-top:15px;
}

.half-stars {
    color: rgb(223, 200, 0);
    margin-top:15px;

}

.empty-stars {
    color: rgb(223, 200, 0);
    margin-top:15px;

}

#jacket-cart-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    /* text-align: center; */
    /* justify-content: space-around; */
}

.rightside-container {
    padding: 0px 4.5vw;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
}

#cart-jacket {
    height: 125px;
    width: 118px;
    padding-right: 20px;
}

#jacket-image {
    height: 250px;
    width: 230px;
}

#size-img {
    margin-top: 11px;
    margin-left: 100px;
}