ul {
    list-style: none;
    padding-left: 75px;
    padding-top: 0;
    margin-top: 0;
  }

  li {
    margin-bottom: 25px;
    margin-top: 0;
    font-size:x-large;
  }

  .map-page {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height: calc(100vh - 180px);
    width: 100vw;
    /* background-color: yellow; */
  }

  .store-locator-list {
    display:flex;
    flex:1;
    background-color: #dedede;
    /* height: 100%; */
    /* width: 30%; */
    margin-right: 0px;
    flex-direction: column;
  }

  .map-pic {
    display:flex;
    flex:3;
    justify-content: space-around;
    align-self: center;
    height: calc(100vh - 180px);
  }


  .find {
    display:flex;
    text-align: left;
    align-content: left;
    align-self: left;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0;
    margin-left: 50px;
  }

  .map-view {
    display: flex;
    flex-grow: 1;
  }

  .city-text {
    margin-left: 25px;
  }